In [3]:
import numpy as np
import pandas as pd

okc = pd.read_csv("shots_data.csv")
okc["x squared"] = okc["x"]**2
okc["y squared"] = okc["y"]**2

display(okc)

       team     x     y  fgmade  x squared  y squared
0    Team A -23.1   3.5       0     533.61      12.25
1    Team A   0.0  25.1       1       0.00     630.01
2    Team A   0.5   1.0       1       0.25       1.00
3    Team A  -5.6   5.2       0      31.36      27.04
4    Team A   4.0  14.5       1      16.00     210.25
..      ...   ...   ...     ...        ...        ...
555  Team B   7.8  24.7       0      60.84     610.09
556  Team B  10.1   1.4       1     102.01       1.96
557  Team B -17.8  -0.1       0     316.84       0.01
558  Team B  22.6   2.9       0     510.76       8.41
559  Team B  -0.7  14.7       1       0.49     216.09

[560 rows x 6 columns]

In [4]:
teamstring = "Team A" #switch to "Team B" to get team B's statistics

print("================ " + teamstring + " ===================")
team = okc[okc["team"] == teamstring]

##2 POINT ZONE

print("2")
two = team[team["x squared"] + team["y squared"] <= 23.75**2]
two = two[abs(two["x"]) <= 22.0]
display(two)

##NC3 POINT ZONE

print("NC3")
nthree = team[team["x squared"] + team["y squared"] > 23.75**2]
nthree = nthree[nthree["y"] >= 7.8]
display(nthree)

##C3 Point ZONE

print("C3")
cthree = team[abs(team["x"]) > 22.0]
cthree = cthree[cthree["y"] < 7.8]
display(cthree)

#check if all shots total to original data total
print(len(two) + len(nthree) + len(cthree), len(team))


print("=================PERCENTAGES=================")
print(len(two)/len(team))
print(len(nthree)/len(team))
print(len(cthree)/len(team))

#check if zone percentages add up to 1.0
print(len(two)/len(team) + len(nthree)/len(team) + len(cthree)/len(team))

print("=================eFG=================")
print(len(two[two["fgmade"] == 1])/len(two))
print(len(nthree[nthree["fgmade"] == 1])*1.5/len(nthree)) #standardize
print(len(cthree[cthree["fgmade"] == 1])*1.5/len(cthree))

================ Team A ===================
2

       team     x     y  fgmade  x squared  y squared
2    Team A   0.5   1.0       1       0.25       1.00
3    Team A  -5.6   5.2       0      31.36      27.04
4    Team A   4.0  14.5       1      16.00     210.25
5    Team A -13.6   4.0       1     184.96      16.00
6    Team A  -9.0   7.2       1      81.00      51.84
..      ...   ...   ...     ...        ...        ...
270  Team A  -0.9   1.2       1       0.81       1.44
271  Team A   1.6  13.9       0       2.56     193.21
277  Team A  -8.0   2.6       1      64.00       6.76
278  Team A  -7.6   1.7       0      57.76       2.89
279  Team A  -5.5   6.2       1      30.25      38.44

[170 rows x 6 columns]

NC3

       team     x     y  fgmade  x squared  y squared
1    Team A   0.0  25.1       1       0.00     630.01
9    Team A -16.8  20.5       1     282.24     420.25
17   Team A  15.2  19.7       1     231.04     388.09
18   Team A   2.3  26.2       0       5.29     686.44
21   Team A -16.9  19.7       0     285.61     388.09
..      ...   ...   ...     ...        ...        ...
266  Team A  13.9  22.5       0     193.21     506.25
268  Team A  15.2  21.8       0     231.04     475.24
273  Team A   4.0  26.5       1      16.00     702.25
274  Team A -13.3  20.7       0     176.89     428.49
276  Team A  -3.0  25.4       0       9.00     645.16

[90 rows x 6 columns]

C3

       team     x    y  fgmade  x squared  y squared
0    Team A -23.1  3.5       0     533.61      12.25
11   Team A  22.3  3.5       0     497.29      12.25
22   Team A  22.5  1.8       1     506.25       3.24
24   Team A  23.5  2.4       0     552.25       5.76
92   Team A  22.8  3.6       1     519.84      12.96
96   Team A -22.9  2.4       0     524.41       5.76
171  Team A  22.6  4.0       0     510.76      16.00
185  Team A  23.0  2.2       0     529.00       4.84
205  Team A -23.4  0.9       1     547.56       0.81
223  Team A  22.9  6.1       1     524.41      37.21
229  Team A -23.4  4.2       0     547.56      17.64
230  Team A  23.7  3.8       1     561.69      14.44
232  Team A -22.8  3.1       1     519.84       9.61
233  Team A -23.0  7.6       0     529.00      57.76
235  Team A  22.8 -0.9       0     519.84       0.81
239  Team A -23.5  3.7       0     552.25      13.69
242  Team A  23.4  1.8       1     547.56       3.24
257  Team A -23.6  4.8       0     556.96      23.04
272  Team A -23.3  1.7       0     542.89       2.89
275  Team A  23.0  4.7       1     529.00      22.09

280 280
=================PERCENTAGES=================
0.6071428571428571
0.32142857142857145
0.07142857142857142
1.0
=================eFG=================
0.4
0.48333333333333334
0.6